img{
   width: 300px;
   height: 300px;
   
}
table {
   border: 10px;
   border-radius: 2px;
   border-color: blue;
   border-collapse: collapse;
}

.m{
   border-width: 2px;
   border-style: solid;
   border-color: blueviolet;
   border-radius: 5px;
   font-family: serif;
   font-style: italic;
}

.pic {
   margin-left: 350px;
   margin-right: 304px;
   
   
}

.table {
   text-align: center;
}

#table{
   margin-top: 600px;
   margin-left:320px;
}
.button {
   margin: 20px ;
}
#kazi{
   text-decoration: none;
}
body{
   font-family: Arial, Helvetica, sans-serif;
}
.img{
   border-radius: 25px;
}



.h{
   width: 300px;
   height: 300px;
   margin-left: -20px;
   margin-top: 100px;
   border: 20px orangered solid;
   border-radius: 50%;
   position: absolute;
   animation: box1 forwards 2s infinite;
   justify-content: center;
   display: flex;
   align-items: center;
   
}
.st{
   
   position: absolute;
   animation: nt alternate 2s infinite;
   border-radius: 50%;

}

@keyframes box1{
   0%{ border-color: #0015FF; transform: scale(1);}
   25%{ border-color: #FF00FB; transform: scale(1.2);}
   50%{ border-color: #00FFD2; transform: scale(1.4);}
   75%{border-color: #13FF00; transform: scale(1.6);}
   100%{ border-color: #FFDA00; transform: scale(1.8);}
}

.v{
   width: 150px;
   height: 150px;
   border: 20px red solid ;
   animation: box2 alternate 2s infinite;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes box2{
   100%{ border-color: #0015FF; rotate: 360deg;
      ; border-width: 10px;
   }
   80%{ border-color: #0015FF; rotate: 360deg;
      ;
   }
   75%{ border-color: #FF00FB; }
   50%{ border-color: #00FFD2; }
   25%{border-color: #13FF00;}
   0%{ border-color: #FFDA00; rotate: 0deg; border-width: 40px;}

}
.p{
   position: absolute;
   animation: nt alternate 2s infinite;
   border-radius: 0px;
}

@keyframes nt{
   
   0%{
      width: 1px;
      height: 1px;
   }
   25%{}
   50%{}
   75%{}
   100%{
      width: 100%;
      height: 100%;
      
   }

}