html {
   color: red;
   font-size: 15pt;
   background-image: url();
   background-repeat: no-repeat;
   font-weight: 3vw;
   
   
   
}

.movetext{
   color: green;
   background-color: none;
   
}

h2 {
   font-family: none;
   font-weight: 3vm;
   font-style: normal;
}